.about-user {
  padding: 25px 0 0 135px;
}

.about-user__avatar {
  width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 20px;
  left: 30px;
}

.about-user__img {
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  object-fit: cover;
}

.about-user__desc {
  font-size: 13px;
  font-weight: 500;
}

.about-user__desc_type_name {
  padding-right: 7px;
  margin-right: 7px;
  border-right: 1px solid black;
}