.side-bar {
  width: 300px;
  box-shadow: 0 0 4px 0 #dce1e6, 0 0 4px 1px #d3dce6;
  padding: 40px 10px 20px 50px;
  box-sizing: border-box;
  background-color:white;
}

.side-bar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.side-bar__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: font-weight 0.1s ease;
}

.side-bar__link:hover {
  font-weight: bold;
}

.side-bar__link_active {
  font-weight: bold;
}